.main{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 300px;
}

.sessao{
    display: grid;
    grid-template-columns: repeat(4, 1fr);   
    grid-auto-flow:dense; 
    gap: 8px;
}

#display{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 70px;
    margin-top: 125px;
    font-size: 35px;
}

.botao{
    background-color: rgb(218, 218, 219);
    border-radius: 9px;
    width: 45px;
    height: 55px;
}

.botao:hover{
    cursor: pointer;
    background-color: rgb(197, 199, 201);
}